body{
    background-color: lightgray;
}

h1{
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
h2{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 3px solid black;
    border-radius: 10px;
    width:fit-content;
    
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1.1em ;
    max-width: 800px;
    padding: 10px;
}
li{
  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:1em ;
    margin-bottom: 20px;
    max-width: 800px;
}
section{
    border-bottom: 3px solid black;
    padding: 15px;
}
#about p{
        margin-left: 20px;
        margin-bottom: 10px;
}

img{
    box-shadow: 3px 3px 5px;
    margin: 10px;
}

a:link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    color: #1e3a8a;
}

a:hover{
    font-size: 1.6em;
}
a:visited{
    color: #1e3a8a;
}
a:active{
    font-size: 1.6em;
    color: rgb(0, 255, 115);
    }    
body::selection{
    background-color: rgb(255, 255, 51);
}
.navbar a{
    text-decoration: none;
    padding: 10px 15px;
}
.profile{
    display: flex;
    align-items: center;
    gap: 15px  ;
}
.navbar{
    background-color: #cbd5e1;
    display: flex;
    justify-content: center;
    border: 3px solid  black;
    gap: 15px;
    border-radius:10px;
}
footer{
    text-align: center;
    padding: 15px;
}